<div class="auth-container" dir="rtl">
  <div class="auth-header">
    <i class="pi pi-user-plus tech-icon"></i>
    <h2>הצטרפות ל-Magdalor</h2>
    <p>צרו חשבון והתחילו ברכישה</p>
  </div>

  @if (successMessage()) {
  <p-message severity="success" [text]="successMessage()" class="w-full mb-4" variant="simple">
  </p-message>
  }

  @if (errorMessage()) {
  <p-message severity="error" [text]="errorMessage()" class="w-full mb-4" variant="simple">
  </p-message>
  }

  <form #regForm="ngForm" (ngSubmit)="onRegister()" class="auth-form">

    <!-- שם -->
    <div class="input-field-group">
      <label>שם מלא</label>
      <p-iconfield iconPosition="right">
        <input pInputText name="name" [(ngModel)]="user.name" placeholder="ישראל ישראלי" required />
        <p-inputicon class="pi pi-user"></p-inputicon>
      </p-iconfield>
    </div>

    <!-- אימייל -->
    <div class="input-field-group">
      <label>אימייל</label>
      <p-iconfield iconPosition="right">
        <input pInputText type="email" name="email" [(ngModel)]="user.email" placeholder="example@mail.com" required
          email />
        <p-inputicon class="pi pi-envelope"></p-inputicon>
      </p-iconfield>
    </div>

    <!-- טלפון -->
    <div class="input-field-group">
      <label>טלפון</label>
      <p-iconfield iconPosition="right">
        <p-inputmask name="phone" [(ngModel)]="user.phone" mask="999-9999999" placeholder="050-0000000"
          styleClass="w-full">
        </p-inputmask>
        <p-inputicon class="pi pi-phone"></p-inputicon>
      </p-iconfield>
    </div>

    <!-- סיסמה -->
   <div class="input-field-group">
  <label>סיסמה</label>
  <p-password
    name="password"
    [(ngModel)]="user.password"
    [toggleMask]="true"
    [feedback]="false"
    placeholder="מינימום 6 תווים"
    required
    styleClass="w-full custom-password">
  </p-password>
</div>

    <p-button label="אישור והרשמה" icon="pi pi-check" type="submit" [loading]="isLoading()" [disabled]="!regForm.valid"
      styleClass="submit-button p-button-rounded p-button-info">
    </p-button>


    <div class="auth-footer">
      <span>כבר יש לך חשבון?</span>
      <p-button label="חזרה להתחברות" variant="text" (onClick)="switchToLogin.emit()">
      </p-button>
    </div>

  </form>
</div>